.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1336px;
    padding: 0 88px;
  }
}
