.footer {
  background: $bg-footer;
}

.footer__container {
  padding: 40px 15px;
}

.hero__footer-logo {
  object-fit: cover;
  margin-bottom: 27px;
}

.footer__list {
  @include list-reset;
  display: flex;
  gap: 19px 36px;
  margin: 0 0 30px;
  color: #ffffff;
  flex-wrap: wrap;
}

.footer__item-link {
  letter-spacing: -0.3px;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.footer__socials {
  @include list-reset;
  margin: 0;
  display: flex;
  gap: 20px;
}

.footer__socials-icon {
  display: block;

  &--vk {
    background-image: url("/__spritemap#sprite-vk-view");
  }

  &--ok {
    background-image: url("/__spritemap#sprite-ok-view");
  }

  &--reddit {
    background-image: url("/__spritemap#sprite-reddit-view");
  }
}
