.footer {
  background: $bg-footer;
}

.footer__container {
  padding: 40px 15px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 46px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 38px 88px;
  }
}

.footer-logo {
  object-fit: cover;
  margin-bottom: 26px;


  @media (min-width: $tablet-width) {
    width: 110px;
    height: 22px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 130px;
    height: 26px;
  }
}

.footer__list {
  @include list-reset;

  display: flex;
  gap: 20px 36px;
  margin: 0 0 30px;
  flex-wrap: wrap;
  color: $base-white;

  @media (min-width: $tablet-width) {
    width: 390px;
    margin: 0;
    display: flex;
    gap: 0;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 598px;
  }
}

.footer__item-link {
  letter-spacing: -0.3px;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    line-height: 23px;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 1px solid;
    padding: 10px;
    border: none;
  }

  // &:active {}
}

.footer__socials {
  @include list-reset;

  margin: 0;
  display: flex;
  gap: 20px;

  @media (min-width: $tablet-width) {
    column-gap: 15px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 10px;
  }
}

.footer__socials-icon {
  display: block;

  &--vk {
    background-image: url("/__spritemap#sprite-vk-view");
  }

  &--ok {
    background-image: url("/__spritemap#sprite-ok-view");
    color: rgb(255, 99, 71);
    fill: currentColor;
  }

  &--reddit {
    background-image: url("/__spritemap#sprite-reddit-view");
  }

  &:hover {
    color: rgb(95, 83, 81);
    fill: currentColor;
  }
}

.footer__socials-link svg {
  color: currentColor;

  // fill: aqua;
  fill: currentColor;
  cursor: pointer;
}
