.hero {
  padding: 0 0 32px;
  background: $bg-main;
}

.hero__header-logo {
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 110px;
  }

  @media (min-width: $desktop-width) {
    width: 130px;
  }
}

.hero__header-phone {
  font-family: $roboto-bold;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  color: $base-white;
}

.hero__header-wrapper {
  @media (max-width: $mobile-width-only) {
    width: 320px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1336px;
    padding: 0 40px;
  }
}

.hero__content-wrapper {
  @media (max-width: $mobile-width-only) {
    width: 320px;
    margin: 0 auto;
    padding: 48px 15px;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 125px 145px;
    grid-template-rows: 47px 1fr;
    justify-items: end;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1336px;
    padding: 0 40px;
  }
}

.hero__title {
  font-family: $alumni-extra-bold;
  font-size: 62px;
  font-weight: 800;
  line-height: 62px;
  letter-spacing: 1px;
  text-align: right;
  text-transform: uppercase;
  grid-column: 2 / 3;
  grid-row: -1 / 2;
  align-self: self-end;
  margin: 0;
  color: $base-white;
}

.hero__subtitle-sity {
  font-family: $alumni-semi-bold;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  grid-column: 2 / 3;
  margin: 0;
  color: $base-white;
}

.hero__list {
  @include list-reset;
  margin-right: 13px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.hero__item {
  font-family: $roboto-light;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: -0.3px;
  color: $base-white;
}

.hero__description {
  font-family: $roboto-light;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: -0.5vh;
  text-align: right;
  min-width: 145px;
  margin: 60px 13px 0;
  color: $base-white;
}

.hero__button-link {
  margin: 0 auto;
  color: $base-white;
  min-height: 60px;
  width: 290px;
  border: 2px solid #ffffff;
}
