//  Fonts
$roboto: "Roboto Condensed", "Arial", sans-serif;
$alumni: "Alumni Sans", "Arial", sans-serif;

// Base color
$base-white: rgb(255, 255, 255);
$base-black: rgba(0, 0, 0, 0);
$base-dark-blue: #102654;

// Text colors
$text-tabs: rgba(16, 38, 84, 0.5);
$text-tabs-hover: rgba(16, 38, 84, 0.7);
$text-additional: rgb(16, 58, 174);
$text-secondary-gradient: linear-gradient(128.66deg, #d10a42 0%, #0041ca 45.49%);

// Background colors
$bg-secondary-gray: #f8f9fc;
$bg-banners: #ed0233;
$bg-tab-btn-hover: linear-gradient(151.36deg, rgba(237, 2, 51, 0.8) 16.95%, rgba(0, 62, 183, 0.8) 96.59%);
$bg-tab-btn: linear-gradient(151.36deg, rgb(237, 2, 51) 16.34%, rgb(0, 62, 183) 97.81%);
$bg-tab-card-border: linear-gradient(147.36deg, rgb(237, 2, 51) -10.34%, rgb(0, 62, 183) 101.81%) 25;
$bg-main: linear-gradient(90deg, #1c3477, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
$bg-video-gradient: linear-gradient(90deg, rgb(237, 2, 51) 13.98%, rgb(0, 62, 183) 100.5%) rgb(95, 158, 160);
$bg-footer: #030a1a;
$bg-secondary-block: #1c3374;
$bg-button-border: linear-gradient(135.58deg, #d10a42 1.12%, #00359f 100%);
$bg-video: rgba(20, 54, 122, 0.5);
$bg-video-tablet: rgba(20, 54, 122, 0.8);

// Animation
$tf-default: ease;
$trans-default: 0.3s $tf-default;
$border-width: 2px solid;

//  Alt colors
$color-whisper: #e8e8e8;
$color-grey: #787878;
$light-grey: #e2e2e2;
$error-color: #ff121f;
$tabs-color: #d10a42;
$base-dark-blue-hover: rgba(16, 38, 84, 0.6);
$grey-focus: #c8c9cc;

// Width-Viewports
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1366px;
