//  Fonts
$roboto-regular: "Roboto Condensed Regular", "Arial", sans-serif;
$roboto-bold: "Roboto Condensed Bold", "Arial", sans-serif;
$roboto-light: "Roboto Light", "Arial", sans-serif;
$alumni-extra-bold: "Alumni Sans Extra Bold", "Arial", sans-serif;
$alumni-semi-bold: "Alumni Sans Semi Bold", "Arial", sans-serif;

//Base color
$base-white: #ffffff;
$base-dark-blue: #102654;

// Text colors
$text-secondary-accent: #103AAE;
$text-secondary-gradient: linear-gradient(128.66deg, #d10a42 0%, #0041ca 45.491%);

// Background colors
$bg-secondary: #F8F9FC;
$bg-banners: #ED0233;
$bg-main: linear-gradient(90.00deg, #1c3477, #1c3477 0.01%, #1a3578 39.106%, #73184b 75.502%, #b4022a 100%);
$bg-footer: #030A1A;
$bg-secondary-block: #1C3374;
$bg-button-border: linear-gradient(135.58deg, #d10a42 1.116%, #00359f 100%);


//  Alt colors
$light-grey: #e2e2e2;
$error-color: #FF121F;
$tabs-color: #D10A42;

// Width
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1366px;
